/* {{filename}} */

{{themes}}
{{fonts}}

* {
	--delay: 0.5s;
	transition: color var(--delay) ease, background-color var(--delay) ease, border-color var(--delay) ease;
}

:root {
	color: var(--text-color);
	background-color: var(--bg-color);
	border-color: var(--border-color);
	font-family: Outfit;
}

.link {
	display: inline-block;
	width: 0.6em;
	height: 0.6em;
	background-color: var(--text-color);
	-webkit-mask: url(icons/link.svg) no-repeat center;
	mask: url(icons/link.svg) no-repeat center;
}
.link:hover {
	background-color: var(-accent-color);
}


::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 6px;
	border: 3px solid var(--bg-color);
}


a {
	color: var(--primary-color);
}

body {
	font-size: 20px;
	margin: 0px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;

	height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	align-self: center;
    box-sizing: border-box;
}

{{navbar}}
{{footer}}
{{picker}}
{{excerpts}}
{{articles}}
{{markdown}}
{{katex}}
