{{md}}

<div style="margin: auto;">
	<canvas id="canvas" width="400" height="400"></canvas>
	<button onClick="w.trainAndVisualize()" style="border-color: var(--border-color); color: var(--text-color); background: var(--code-bg-color); display: block; width: 400px; height: 20px">Start</button>
	<div>
		<span id="progress"></span><br>
		<span id="result00"></span><br>
		<span id="result01"></span><br>
		<span id="result10"></span><br>
		<span id="result11"></span><br>
	</div>
</div>

{{execute[iprettify("md", "---")]}}
